
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

:root{
--maincolor:#7b5244;
--subcolor:#333;
}

body{
    font-family:sans-serif ,"PT Sans";
}
 .container{
    width:80%;
    margin:auto;
  } 

a{
    text-decoration: none;
}

.fa-2x {
    font-size: 1.3em;
}

.list-unstyled{
    list-style: none;
}
.section-padding{
    padding: 40px 0;
}
.section-header{
    text-align: center;
    margin-bottom: 25px ;
}

.section-title{
    font-size: 30px;
    margin-bottom: 10px;
}

.section-header .line{
    display: block;
    width: 100px;
    margin: auto;
    height: 3px;
    background: #7b5244;
    transition: width 0.5s;
}
.section-header:hover .line{
    width:150px;
}


header{
    padding: 30px 0;
}

header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img{
flex:1;
max-width: 170px;

}

.header-content nav{
flex:3;
text-align: center;
}


.header-content .login{
flex:1;
text-align: right;
}

.header-content ul li{
display: inline-block;
}

.header-content ul li,
.header-content ul li a{
    color:var(--subcolor);

}

.header-content nav ul li .link-item {
    padding: 4px 13px ;
    display: block;
    font-weight: bold;
    position: relative;
    
}
.header-content nav ul li .link-item:before {
    content: "";
    position: absolute;
    border-width: 0 2px;
    border-color: #7b5244;
    border-style: solid;
    width: 91%;
    height: 100%;
    top:0;
    left:0;
    transition: transform 0.2s;
    transform: scale3d(1, 0, 1);
}

.header-content nav ul li .link-item:hover:before{
transform: scale3d(1 ,1 ,1);

}

.header-content nav ul li .link-item:after {
    content: "";
    position: absolute;
    border-width: 2px 0;
    border-color: #7b5244;
    border-style: solid;
    width: 94%;
    height: 90%;
    top:0;
    left:0;
 transform-origin: left;
    transition: transform 0.2s;
    transform: scale3d(0, 1, 1);
}

.header-content nav ul li .link-item:hover:after{
transform: scale3d(1 ,1 ,1);
transition-delay: 0.2s;
}

.header-content .login ul li {
    padding: 4px ;
    font-weight: bold;

}

.header-content .login ul li:last-child i{
    position: relative;
    margin-right: 10px;
}


.header-content .login ul li:last-child i:after{
    position: absolute;
    content: "0";
    background: #7b5244;
    color:#fff;
    bottom: 0px;
    right: -11px;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
}

.dropdown{
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 340px;
    border: 2px solid var(--maincolor);
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    transform: scale(0);
    visibility: hidden;
transition: transform 0.5s , visibility 0.5s;
}

.dropdown:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
}

.dropdown-menu ul{
display: table-cell;
text-align: left;
}
.dropdown-menu ul li{
    line-height: 1.7;
}

.dropdown-menu ul li:first-child a {
    display: block;
    margin-bottom: 5px;
    border-bottom: 3px dotted var(--maincolor);
    }

     section.slider img{
        max-width: 100%;
    } 

.category-items{
    display: grid;
    margin: 20px 0;
    grid-template-columns: auto auto auto auto;
    grid-gap:20px;
      
}
.category-item{
    position: relative;
}

.category-item img{
    width: 100%;
    margin-bottom: 25px;
}

.category-item-subtitle{
color: gray;
font-weight: normal;
}

.category-item .icon{
    width:30px;
    height: 30px;
    background: #7b5244;
    color:#fff;
    text-align: center;
    display:block;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
}

.discount{
    margin: 30px 0;
    display: flex;
    /* grid-template-columns: auto  auto  auto  auto; */

}

.discount-desc{
    flex:2;
    background: #f7f7f7; 
    padding: 20px;
    position: relative;
}

.discount-desc .top{
position: relative;
padding-left: 60px;
margin-bottom: 20px;
}

.discount-desc .top + p{
    line-height: 1.7;
}
.discount-desc .bolletes {
    text-align: right;
    position: absolute;
    bottom:20px;
    right: 20px;
}

.discount-desc .bolletes span{
    display:inline-block;
    width: 50px;
    height: 2px;
    background: #7b5244;
    margin-left: 10px;
}

.discount-desc .top .icon{
position: absolute;
left:0px;
top:15px;
font-size: 50px;
color: #7b5244;
}
.discount-desc .discount-subtitle{
    color:gray;
}

.discount-item{
    flex:1;
    height: 263px;
}

.discount-item-info{
position: relative;
top:20px;
left:15px;

}

.discount-item-info h3{
    font-weight: normal;
    color:#7b5244;
    font-size: 15px;
}

.discount-item-info h2{
    font-size: 18px;
  
}


.discount-item:nth-child(2){
    background-image: url(../sec6/images/cms-banner-1.jpg);
    background-size: cover;
    margin: 0  10px;
    transition: transform 0.2s;
     } 


 .discount-item:nth-child(2):hover,
 .discount-item:nth-child(3):hover{
    transform: scale(1.1);
} 

.discount-item:nth-child(3){
    background-image: url(../sec6/images/cms-banner-2.jpg);
    background-size: cover;
    margin: 0  10px;
    transition: transform 0.2s;
}

.sprites{
    display: flex;
    margin-bottom: 25px;
}

.sprite-item{
    flex:1;
    text-align: center;
    border-right: 1px solid var(--maincolor) ;
    
}

.sprite-item:last-child{
    border: 0;
}

.sprite-icon{
    background-image:url(../sec6/images/service-icon.png) ;
    height: 55px;
    background-repeat: no-repeat ;
}

.sprite-item:hover .sprite-icon-1 {
    background-position: center -90px;
}
 
.sprite-item:hover .sprite-icon-2 {
    background-position: center -272px;
}

.sprite-item:hover .sprite-icon-3 {
    background-position: center -647px;
}

.sprite-item:hover .sprite-icon-4 {
    background-position: center -459px;
}


.sprite-item:hover .sprite-icon-5 {
    background-position:center -829px;
     
}


.sprite-icon-1{
    background-position: center 5px;
}

.sprite-icon-2{
    background-position: center -180px;
}

.sprite-icon-3{
    background-position: center -554px;
}

.sprite-icon-4{
    background-position: center -370px;
}

.sprite-icon-5{
    background-position: center -739px;
}

.sprite-info span{
  color:gray;
  font-size: 15px;
}















